In [1]:
import pandas as pd

In [2]:
from os import path

In [3]:
fname = path.expanduser('~/Documents/GitHub/Data Science/DataScience/Tools/Exercise Files/Ch04/04_02/track.csv')

In [4]:
fname

'C:\\Users\\Fred/Documents/GitHub/Data Science/DataScience/Tools/Exercise Files/Ch04/04_02/track.csv'

In [5]:
ls -lh fname

 Volume in drive C is System
 Volume Serial Number is 50EC-330C

 Directory of C:\Users\Fred\Documents\GitHub\Data Science\DataScience\Tools


 Directory of C:\Users\Fred\Documents\GitHub\Data Science\DataScience\Tools

File Not Found

In [7]:
with open(fname) as fp:
    for lnum, line in enumerate(fp):
        if lnum > 10:
            break
        print (line[:-1])

time,lat,lng,height
2015-08-20 03:48:07.235,35.015021,32.519585,136.1999969482422
2015-08-20 03:48:24.734,35.014954,32.519606,126.5999984741211
2015-08-20 03:48:25.660,35.014871,32.519612,123.0
2015-08-20 03:48:26.819,35.014824,32.519654,120.5
2015-08-20 03:48:27.828,35.014776,32.519689,118.9000015258789
2015-08-20 03:48:29.720,35.014704,32.519691,119.9000015258789
2015-08-20 03:48:30.669,35.014657,32.519734,120.9000015258789
2015-08-20 03:48:33.793,35.014563,32.519719,121.69999694824219
2015-08-20 03:48:34.869,35.014549,32.519694,121.19999694824219
2015-08-20 03:48:37.708,35.014515,32.519625,121.69999694824219

In [8]:
df = pd.read_csv(fname)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    740 non-null    object
 1   lat     740 non-null    float64
 2   lng     740 non-null    float64
 3   height  740 non-null    float64
dtypes: float64(3), object(1)
memory usage: 23.2+ KB

#####  Parse time

In [10]:
# check the types of the columns 
df.dtypes

time       object
lat       float64
lng       float64
height    float64
dtype: object

In [11]:
df.head()

                      time        lat        lng      height
0  2015-08-20 03:48:07.235  35.015021  32.519585  136.199997
1  2015-08-20 03:48:24.734  35.014954  32.519606  126.599998
2  2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3  2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4  2015-08-20 03:48:27.828  35.014776  32.519689  118.900002

In [12]:
df = pd.read_csv(fname, parse_dates=['time'])

In [13]:
df.dtypes

time      datetime64[ns]
lat              float64
lng              float64
height           float64
dtype: object

#####  Access the data

In [14]:
df['lat']

0      35.015021
1      35.014954
2      35.014871
3      35.014824
4      35.014776
         ...
735    35.014387
736    35.014355
737    35.014279
738    35.014264
739    35.014212
Name: lat, Length: 740, dtype: float64

In [15]:
df[['lat' , 'lng']]

           lat        lng
0    35.015021  32.519585
1    35.014954  32.519606
2    35.014871  32.519612
3    35.014824  32.519654
4    35.014776  32.519689
..         ...        ...
735  35.014387  32.517020
736  35.014355  32.517035
737  35.014279  32.517087
738  35.014264  32.517098
739  35.014212  32.517142

[740 rows x 2 columns]

In [16]:
df['lat'][0]

35.015021000000004

In [17]:
df.loc[2:7] #slicing

                     time        lat        lng      height
2 2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3 2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4 2015-08-20 03:48:27.828  35.014776  32.519689  118.900002
5 2015-08-20 03:48:29.720  35.014704  32.519691  119.900002
6 2015-08-20 03:48:30.669  35.014657  32.519734  120.900002
7 2015-08-20 03:48:33.793  35.014563  32.519719  121.699997

In [19]:
df[['lat', 'lng']][2:7]

         lat        lng
2  35.014871  32.519612
3  35.014824  32.519654
4  35.014776  32.519689
5  35.014704  32.519691
6  35.014657  32.519734

In [20]:
df.index

RangeIndex(start=0, stop=740, step=1)

In [21]:
import numpy as np

In [23]:
df1 = pd.DataFrame(np.arange(10).reshape((5, 2)), columns=['x', 'y'], index=['a','b','c','d','e'])
df1

   x  y
a  0  1
b  2  3
c  4  5
d  6  7
e  8  9

In [24]:
df.index = df['time']

In [25]:
df

,time,lat,lng,height
time,,,,
2015-08-20 03:48:07.235,2015-08-20 03:48:07.235,35.015021,32.519585,136.199997
2015-08-20 03:48:24.734,2015-08-20 03:48:24.734,35.014954,32.519606,126.599998
2015-08-20 03:48:25.660,2015-08-20 03:48:25.660,35.014871,32.519612,123.000000
2015-08-20 03:48:26.819,2015-08-20 03:48:26.819,35.014824,32.519654,120.500000
2015-08-20 03:48:27.828,2015-08-20 03:48:27.828,35.014776,32.519689,118.900002
...,...,...,...,...
2015-08-20 04:20:28.982,2015-08-20 04:20:28.982,35.014387,32.517020,104.800003
2015-08-20 04:20:29.923,2015-08-20 04:20:29.923,35.014355,32.517035,105.199997
2015-08-20 04:20:32.863,2015-08-20 04:20:32.863,35.014279,32.517087,102.900002
2015-08-20 04:20:33.994,2015-08-20 04:20:33.994,35.014264,32.517098,102.400002
2015-08-20 04:20:42.329,2015-08-20 04:20:42.329,35.014212,32.517142,103.400002

In [26]:
%pwd

'C:\\Users\\Fred\\Documents\\GitHub\\Data Science\\DataScience\\Tools'

In [29]:
import geo

In [28]:
import sys
sys.path

['C:\\Users\\Fred\\Documents\\GitHub\\Data Science\\DataScience\\Tools',
 'C:\\ProgramData\\Anaconda3\\python37.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\Users\\Fred\\AppData\\Roaming\\Python\\Python37\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\Fred\\.ipython']

In [30]:
?? geo

In [31]:
from geo import circle_dist

In [32]:
lat1, lng1 = df.iloc[0].lat, df.iloc[0].lng
lat2, lng2 = df.iloc[1].lat, df.iloc[2].lng

In [33]:
circle_dist(lat1, lng1,lat2,lng2)

0.007848278089053914

In [35]:
s = pd.Series(np.arange(5))

In [36]:
s

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [37]:
s.shift()

0    NaN
1    0.0
2    1.0
3    2.0
4    3.0
dtype: float64

In [38]:
s.shift(-1)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [39]:
dist = circle_dist(df['lat'], df['lng'], df['lat'].shift(), df['lng'].shift())

In [40]:
dist[:10]

time
2015-08-20 03:48:07.235         NaN
2015-08-20 03:48:24.734    0.007694
2015-08-20 03:48:25.660    0.009248
2015-08-20 03:48:26.819    0.006479
2015-08-20 03:48:27.828    0.006219
2015-08-20 03:48:29.720    0.008010
2015-08-20 03:48:30.669    0.006533
2015-08-20 03:48:33.793    0.010545
2015-08-20 03:48:34.869    0.002757
2015-08-20 03:48:37.708    0.007335
dtype: float64

In [42]:
dist.sum()

4.68812932450806

In [43]:
dt = df['time'] - df['time'].shift()

In [44]:
dt[:10]

time
2015-08-20 03:48:07.235               NaT
2015-08-20 03:48:24.734   00:00:17.499000
2015-08-20 03:48:25.660   00:00:00.926000
2015-08-20 03:48:26.819   00:00:01.159000
2015-08-20 03:48:27.828   00:00:01.009000
2015-08-20 03:48:29.720   00:00:01.892000
2015-08-20 03:48:30.669   00:00:00.949000
2015-08-20 03:48:33.793   00:00:03.124000
2015-08-20 03:48:34.869   00:00:01.076000
2015-08-20 03:48:37.708   00:00:02.839000
Name: time, dtype: timedelta64[ns]

In [45]:
dt.sum()

Timedelta('0 days 00:32:35.094000')

In [46]:
dist / dt

TypeError: Cannot divide float64 data by TimedeltaArray

In [47]:
dt[1].total_seconds()

17.499

In [49]:
dt[1] / np.timedelta64(1, 'h')

0.004860833333333333